.my-movies-page h2 {
  margin-top: 2rem;
}

.movies {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.movie {
  background: #29273d; /* Fundo mais claro que o fundo principal */
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
}

/* Container dos botões */
.movie-buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

/* Botões base */
.btn {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-transform: uppercase;
}

/* Botão Mark as Watched */
.btn.watched-btn {
  padding: 10px 18px;
  background-color: #6200ee; /* Roxo principal */
  color: white;
  box-shadow: 0 4px 6px rgba(98, 0, 238, 0.4);
}

.btn.watched-btn:hover {
  background-color: #45009d; /* Roxo mais escuro */
  transform: translateY(-2px);
}

.btn.watched-btn:active {
  transform: scale(0.97);
  background-color: #37007a; /* Roxo ainda mais escuro */
}

/* Botão Remove */
.delete-button {
  background-color: #e53935; /* Vermelho principal */
  color: white;
  box-shadow: 0 4px 6px rgba(229, 57, 53, 0.4);
}

.delete-button:hover {
  background-color: #b71c1c; /* Vermelho mais escuro */
  transform: translateY(-2px);
}

.delete-button:active {
  transform: scale(0.97);
  background-color: #9a0007; /* Vermelho ainda mais escuro */
}

/* Botão Detalhes */
.details-button {
  padding: 10px 18px;
  background-color: #304ffe; /* Azul escuro */
  color: white;
  box-shadow: 0 4px 6px rgba(48, 79, 254, 0.4);
}

.details-button:hover {
  background-color: #0026ca; /* Azul mais vibrante */
  transform: translateY(-2px);
}

.details-button:active {
  transform: scale(0.97);
  background-color: #001a9c; /* Azul ainda mais escuro */
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
  margin: 40px auto;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
